---

title: Our Services
layout: 'base.njk'
class: services
meta: all our service posts

----

       
<div class="section container">
<h1 class="section-title">Recent articles</h1>
<ul role="list" class="articles__list flow">
  {%- for post in collections.services | reverse | limit(4) -%} 
  
{% include 'article-snippet.njk' %}
  {%- endfor -%}
  
</ul>
</div>

<div class="section container">
<h1 class="section-title">More articles Post blog sum</h1>
<div class="grid-2-columns">
{%- for post in collections.services | reverse | limit(5) -%} 
{% include 'blog-summary.njk' %}
{%- endfor -%}
</div>
</div>
   
  
